<div class="container p-5">
  <mat-card class="example-card col">

    <mat-form-field class="col-6 col-sm-4 px-4">
      <input matInput placeholder="Items Name" [(ngModel)]="itemName">
    </mat-form-field>


    <div class="row d-flex justify-content-center">
      <button class="AddItemsButton col-6 col-sm-6 my-4" [disabled]="itemName=='' " mat-raised-button
              matTooltip="Save this information to the Card"
              (click)="addItem()">
        Add Item
      </button>
      <button (click)="print()">
        print
      </button>
    </div>
  </mat-card>
</div>

<div class="container">
  <div class="row row-cols-1">
    <div class="row">
      <mat-card id="" style="" *ngFor="let i of this.Items" (click)="(i)">
        <mat-card-title style="display: inline;">{{i.name}}</mat-card-title>
      </mat-card>
    </div>
  </div>
</div>

<body>
  <header>
    <nav>
      <ul class="nav_link">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/items">Items</a></li>
      </ul>
    </nav>
  </header>

  <router-outlet></router-outlet>

</body>