<div class="container p-5">
  <mat-card class="example-card col">

    <mat-form-field class="col-6 col-sm-4 px-4">
      <input matInput placeholder="Items Name" [(ngModel)]="itemName">
    </mat-form-field>


    <div class="row d-flex justify-content-center">
      <button class="AddItemsButton col-6 col-sm-6 my-4" [disabled]="itemName=='' " mat-raised-button
              matTooltip="Save this information to the Card"
              (click)="http.addItem({Name: itemName
})">Add Item
      </button>
    </div>
  </mat-card>
</div>

<div class="container">
  <div class="row row-cols-1">
    <div class="row">
      <mat-card id="" style="" *ngFor="let i of http.items" (click)="(i)">
        <mat-card-title style="display: inline;">{{i.name}}</mat-card-title>
      </mat-card>
    </div>
  </div>
</div>
