<div>
    <button routerLink="/additem">Add Item</button>
</div>

<table>
    <tr>
      <th *ngFor="let name of itemsFields">
        {{name.name}}
      </th>
    </tr>
    <tr *ngFor="let item of items">
      <td>{{item.id}}</td>
      <td><a routerLink="/detail/{{item.id}}">
        <span class="badge">{{item.name}}</span>
      </a></td>
      <td>{{getCategoryName(item.category)}}</td>
      <td>{{item.location}}</td>
      <td>{{item.status}}</td>
      <td>{{item.count}}</td>
    </tr>
  </table> 
