{{title}}
<ul>
    <li *ngFor="let item of items">
        <a routerLink="/detail/{{item.id}}">
            <span class="badge"></span> {{item.name}} {{item.location}}
        </a>
    </li>
</ul>

<div>
    <div>
        <label for="name">Name: </label>
        <input type="text" [(ngModel)]="name">
    </div>
    <button (click)="addItem()">Add Item</button>
</div>

<table>
    <tr>
      <th *ngFor="let item of items">
        
      </th>
    </tr>
    <tr>
      <td>Emil</td>
      <td>Tobias</td>
      <td>Linus</td>
      <td>Category</td>
    </tr>
    <tr>
      <td>16</td>
      <td>14</td>
      <td>10</td>
    </tr>
  </table> 

<app-item-details></app-item-details>