<div [(ngModel)]="item">
    Item
    <h2>{{item.name | uppercase}} Details</h2>
    <div><span>id: </span>{{item.id}}</div>
    <div>
        <label for="item-name">Name: </label>
        <input id="item-name" [(ngModel)]="item.name" placeholder="name">
    </div>
    <div>
        <label for="item-name">Locaiton: </label>
        <input id="item-name" [(ngModel)]="item.location" placeholder="name">
    </div>
    <div>
        <label for="item-name">Category: </label>
        <select name="cat" id="cat">
            <option *ngFor="let category of categories">{{category.categoryName}}</option>
        </select>
    </div>
    <div>
        <label for="item-name">Status: </label>
        <input id="item-name" [(ngModel)]="item.status" placeholder="name">
    </div>
    <div>
        <button type="button" (click)="addItem()">Edit Item</button>
        <button type="button" (click)="goBack()">go back</button>
    </div>
</div>